In [2]:
import pandas as pd
import numpy as np

In [3]:
company_dataset = pd.read_csv("Data/CRSP_stocks_clean.csv")

/var/folders/7d/4y2q8m9d3395h59l8v4z8r_00000gn/T/ipykernel_33377/877988600.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  company_dataset = pd.read_csv("Data/CRSP_stocks_clean.csv")

In [4]:
company_dataset

,Unnamed: 0,date,TICKER,CUSIP,PRC,RET,VOL,BID,ASK,SHROUT
0,1718,2000-01-03,AIR,36110,17.5625,-0.020906,109000.0,17.375,17.750,27401.0
1,10251,2000-01-04,AIR,36110,17.6250,0.003559,51700.0,17.375,17.875,27401.0
2,18784,2000-01-05,AIR,36110,17.8125,0.010638,70400.0,17.500,18.000,27401.0
3,27320,2000-01-06,AIR,36110,17.9375,0.007018,60100.0,17.750,18.000,27401.0
4,35852,2000-01-07,AIR,36110,18.5625,0.034843,148000.0,18.125,18.750,27401.0
...,...,...,...,...,...,...,...,...,...,...
8109235,42531451,2022-12-23,TK,Y8564W10,4.5800,-0.002179,422897.0,4.580,4.590,101872.0
8109236,42540998,2022-12-27,TK,Y8564W10,4.5700,-0.002183,664421.0,4.570,4.580,101872.0
8109237,42550538,2022-12-28,TK,Y8564W10,4.3100,-0.056893,1103593.0,4.310,4.320,101872.0
8109238,42560071,2022-12-29,TK,Y8564W10,4.4300,0.027842,764632.0,4.420,4.430,101872.0
8109239,42569586,2022-12-30,TK,Y8564W10,4.5400,0.024831,338454.0,4.530,4.540,101872.0

In [5]:
company_dataset.describe()

,Unnamed: 0,PRC,RET,VOL,BID,ASK,SHROUT
count,8.109240e+06,8.109240e+06,8.109240e+06,8.109236e+06,8.011387e+06,8.011387e+06,8.109240e+06
mean,2.090025e+07,1.681014e+02,6.724031e-04,1.728679e+06,1.695450e+02,1.698529e+02,1.894705e+05
std,1.184000e+07,5.619363e+03,3.072010e-02,8.122187e+06,5.646957e+03,5.654736e+03,6.357353e+05
min,7.000000e+00,-3.941050e+02,-8.666670e-01,0.000000e+00,1.000000e-02,3.200000e-02,1.000000e+01
25%,1.079093e+07,1.084000e+01,-1.030200e-02,4.000200e+04,1.102000e+01,1.110000e+01,1.638900e+04
50%,2.074491e+07,2.387500e+01,0.000000e+00,2.162405e+05,2.399000e+01,2.408000e+01,4.296800e+04
75%,3.089239e+07,4.561000e+01,1.080900e-02,9.836855e+05,4.578000e+01,4.587000e+01,1.279820e+05
max,4.257144e+07,5.391800e+05,5.985491e+00,1.226791e+09,5.391600e+05,5.398000e+05,1.710254e+07