In [1]:
import pandas as pd
import numpy as np
#oof

In [2]:
company_dataset = pd.read_csv("Data/CRSP_stocks_clean.csv")

/var/folders/9x/zgzyj9l153v5qjjz_hdvd31r0000gn/T/ipykernel_22869/877988600.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  company_dataset = pd.read_csv("Data/CRSP_stocks_clean.csv")

In [3]:
company_dataset

,Unnamed: 0,date,TICKER,CUSIP,PRC,RET,VOL,BID,ASK,SHROUT
0,1718,2000-01-03,AIR,36110,17.5625,-0.020906,109000.0,17.375,17.750,27401.0
1,10251,2000-01-04,AIR,36110,17.6250,0.003559,51700.0,17.375,17.875,27401.0
2,18784,2000-01-05,AIR,36110,17.8125,0.010638,70400.0,17.500,18.000,27401.0
3,27320,2000-01-06,AIR,36110,17.9375,0.007018,60100.0,17.750,18.000,27401.0
4,35852,2000-01-07,AIR,36110,18.5625,0.034843,148000.0,18.125,18.750,27401.0
...,...,...,...,...,...,...,...,...,...,...
8109235,42531451,2022-12-23,TK,Y8564W10,4.5800,-0.002179,422897.0,4.580,4.590,101872.0
8109236,42540998,2022-12-27,TK,Y8564W10,4.5700,-0.002183,664421.0,4.570,4.580,101872.0
8109237,42550538,2022-12-28,TK,Y8564W10,4.3100,-0.056893,1103593.0,4.310,4.320,101872.0
8109238,42560071,2022-12-29,TK,Y8564W10,4.4300,0.027842,764632.0,4.420,4.430,101872.0
8109239,42569586,2022-12-30,TK,Y8564W10,4.5400,0.024831,338454.0,4.530,4.540,101872.0

In [4]:
company_dataset.describe()

,Unnamed: 0,PRC,RET,VOL,BID,ASK,SHROUT
count,8.109240e+06,8.109240e+06,8.109240e+06,8.109236e+06,8.011387e+06,8.011387e+06,8.109240e+06
mean,2.090025e+07,1.681014e+02,6.724031e-04,1.728679e+06,1.695450e+02,1.698529e+02,1.894705e+05
std,1.184000e+07,5.619363e+03,3.072010e-02,8.122187e+06,5.646957e+03,5.654736e+03,6.357353e+05
min,7.000000e+00,-3.941050e+02,-8.666670e-01,0.000000e+00,1.000000e-02,3.200000e-02,1.000000e+01
25%,1.079093e+07,1.084000e+01,-1.030200e-02,4.000200e+04,1.102000e+01,1.110000e+01,1.638900e+04
50%,2.074491e+07,2.387500e+01,0.000000e+00,2.162405e+05,2.399000e+01,2.408000e+01,4.296800e+04
75%,3.089239e+07,4.561000e+01,1.080900e-02,9.836855e+05,4.578000e+01,4.587000e+01,1.279820e+05
max,4.257144e+07,5.391800e+05,5.985491e+00,1.226791e+09,5.391600e+05,5.398000e+05,1.710254e+07

In [34]:
testdf = company_dataset
testdf = testdf[testdf['TICKER']=='AAPL']
testdf

,Unnamed: 0,date,TICKER,CUSIP,PRC,RET,VOL,BID,ASK,SHROUT
2101151,578,2000-01-03,AAPL,03783310,111.93750,0.088754,4833736.0,111.87500,111.93750,161159.0
2101152,9112,2000-01-04,AAPL,03783310,102.50000,-0.084310,4646120.0,102.43750,102.50000,161159.0
2101153,17645,2000-01-05,AAPL,03783310,104.00000,0.014634,7060334.0,103.93750,104.00000,161159.0
2101154,26181,2000-01-06,AAPL,03783310,95.00000,-0.086538,6917851.0,95.00000,95.06250,161159.0
2101155,34714,2000-01-07,AAPL,03783310,99.50000,0.047368,4180715.0,99.37500,99.50000,161159.0
...,...,...,...,...,...,...,...,...,...,...
2106933,42525026,2022-12-23,AAPL,03783310,131.86000,-0.002798,63774202.0,131.85001,131.86000,15908118.0
2106934,42534569,2022-12-27,AAPL,03783310,130.03000,-0.013878,68945851.0,130.03999,130.07001,15908118.0
2106935,42544117,2022-12-28,AAPL,03783310,126.04000,-0.030685,85375557.0,126.04000,126.05000,15908118.0
2106936,42553654,2022-12-29,AAPL,03783310,129.61000,0.028324,75528589.0,129.57001,129.60001,15908118.0
2106937,42563190,2022-12-30,AAPL,03783310,129.92999,0.002469,76988230.0,129.91000,129.94000,15908118.0

In [47]:
# groupy by ticker
grouped_data = company_dataset.groupby('TICKER')
returns = pd.DataFrame({})
for ticker,data in grouped_data:
    returns = data[['RET','date']].dropna()
    returns.set_index('date',inplace=True)
    returns = returns.rolling(window=22).mean()
    returns = returns.reset_index()
    print(returns)

            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23 -0.002142
5783  2022-12-27 -0.001607
5784  2022-12-28 -0.002522
5785  2022-12-29 -0.000251
5786  2022-12-30 -0.000211

[5787 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
4230  2016-10-25 -0.002786
4231  2016-10-26 -0.001580
4232  2016-10-27 -0.000736
4233  2016-10-28 -0.001578
4234  2016-10-31 -0.001385

[4235 rows x 2 columns]
           date       RET
0    2020-10-26       NaN
1    2020-10-27       NaN
2    2020-10-28       NaN
3    2020-10-29       NaN
4    2020-10-30       NaN
..          ...       ...
545  2022-12-23 -0.002082
546  2022-12-27 -0.003600
547  2022-12-28 -0.004223
548  2022-12-29 -0.002047
549  2022-12-30 -0.001891

[550 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23 -0.006726
5783  2022-12-27 -0.009267
5784  2022-12-28 -0.009473
5785  2022-12-29 -0.010955
5786  2022-12-30 -0.007679

[5787 rows x 2 columns]
            date       RET
0     2009-04-20       NaN
1     2009-04-21       NaN
2     2009-04-22       NaN
3     2009-04-23       NaN
4     2009-04-24       NaN
...          ...       ...
2921  2020-11-23  0.004629
2922  2020-11-24  0.006102
2923  2020-11-25  0.006146
2924  2020-11-27  0.006541
2925  2020-11-30  0.006648

[2926 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23 -0.001865
5783  2022-12-27 -0.000728
5784  2022-12-28 -0.001583
5785  2022-12-29  0.000951
5786  2022-12-30 -0.000791

[5787 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23 -0.005700
5783  2022-12-27 -0.006600
5784  2022-12-28 -0.007104
5785  2022-12-29 -0.004623
5786  2022-12-30 -0.003550

[5787 rows x 2 columns]
           date       RET
0    2000-01-03       NaN
1    2000-01-04       NaN
2    2000-01-05       NaN
3    2000-01-06       NaN
4    2000-01-07       NaN
..          ...       ...
414  2001-08-23  0.004606
415  2001-08-24  0.005468
416  2001-08-27  0.005740
417  2001-08-28  0.004582
418  2001-08-29  0.003141

[419 rows x 2 columns]
            date       RET
0     2006-02-27       NaN
1     2006-02-28       NaN
2     2006-03-01       NaN
3     2006-03-02       NaN
4     2006-03-03       NaN
...          ...       ...
4237  2022-12-23 -0.008210
4238  2022-12-27 -0.008197
4239  2022-12-28 -0.009664
4240  2022-12-29 -0.006761
4241  2022-12-30 -0.007145

[4242 rows x 2 columns]
            date       RET
0     2001-08-30       NaN
1     2001-08-31       NaN
2     2001-09-04       NaN
3     2001-09-05       NaN
4     2001-09-06       NaN
...          ...       ...
5363  2022-12-23  0.001498
5364  2022-12-27  0.001002
5365  2022-12-28 -0.000035
5366  2022-12-29 -0.000247
5367  2022-12-30 -0.000539

[5368 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23 -0.004461
5783  2022-12-27 -0.004126
5784  2022-12-28 -0.005583
5785  2022-12-29 -0.004073
5786  2022-12-30 -0.004281

[5787 rows x 2 columns]
            date       RET
0     2013-11-11       NaN
1     2013-11-12       NaN
2     2013-11-13       NaN
3     2013-11-14       NaN
4     2013-11-15       NaN
...          ...       ...
2299  2022-12-23  0.001508
2300  2022-12-27 -0.000740
2301  2022-12-28 -0.000083
2302  2022-12-29 -0.000395
2303  2022-12-30 -0.000736

[2304 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
3598  2014-04-24  0.003669
3599  2014-04-25  0.002318
3600  2014-04-28  0.002965
3601  2014-04-29  0.004037
3602  2014-04-30  0.005345

[3603 rows x 2 columns]
            date       RET
0     2009-01-28       NaN
1     2009-01-29       NaN
2     2009-01-30       NaN
3     2009-02-02       NaN
4     2009-02-03       NaN
...          ...       ...
3502  2022-12-23  0.005707
3503  2022-12-27  0.004109
3504  2022-12-28  0.005931
3505  2022-12-29  0.007935
3506  2022-12-30  0.006589

[3507 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23 -0.001474
5783  2022-12-27 -0.000572
5784  2022-12-28 -0.001453
5785  2022-12-29 -0.000394
5786  2022-12-30 -0.001090

[5787 rows x 2 columns]
            date       RET
0     2000-09-15       NaN
1     2000-09-18       NaN
2     2000-09-19       NaN
3     2000-09-20       NaN
4     2000-09-21       NaN
...          ...       ...
3327  2013-11-04 -0.001330
3328  2013-11-05 -0.003165
3329  2013-11-06 -0.001689
3330  2013-11-07 -0.000964
3331  2013-11-08 -0.001218

[3332 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
4774  2018-12-24  0.002555
4775  2018-12-26  0.001088
4776  2018-12-27  0.002770
4777  2018-12-28  0.001023
4778  2018-12-31  0.003454

[4779 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
1540  2006-02-17  0.003068
1541  2006-02-21  0.002825
1542  2006-02-22  0.004293
1543  2006-02-23  0.004342
1544  2006-02-24  0.003186

[1545 rows x 2 columns]
            date       RET
0     2001-03-30       NaN
1     2001-04-02       NaN
2     2001-04-03       NaN
3     2001-04-04       NaN
4     2001-04-05       NaN
...          ...       ...
3716  2016-01-08 -0.002533
3717  2016-01-11 -0.001939
3718  2016-01-12 -0.000777
3719  2016-01-13 -0.001541
3720  2016-01-14 -0.000491

[3721 rows x 2 columns]
            date       RET
0     2000-05-09       NaN
1     2000-05-10       NaN
2     2000-05-11       NaN
3     2000-05-12       NaN
4     2000-05-15       NaN
...          ...       ...
5694  2022-12-23  0.004289
5695  2022-12-27  0.004249
5696  2022-12-28  0.002987
5697  2022-12-29  0.003907
5698  2022-12-30  0.002917

[5699 rows x 2 columns]
            date       RET
0     2017-08-03       NaN
1     2017-08-04       NaN
2     2017-08-07       NaN
3     2017-08-08       NaN
4     2017-08-09       NaN
...          ...       ...
1358  2022-12-23 -0.006261
1359  2022-12-27 -0.007716
1360  2022-12-28 -0.008001
1361  2022-12-29 -0.005132
1362  2022-12-30 -0.005331

[1363 rows x 2 columns]
            date       RET
0     2007-07-25       NaN
1     2007-07-26       NaN
2     2007-07-27       NaN
3     2007-07-30       NaN
4     2007-07-31       NaN
...          ...       ...
3883  2022-12-23  0.003526
3884  2022-12-27  0.003614
3885  2022-12-28  0.002694
3886  2022-12-29  0.005877
3887  2022-12-30  0.005736

[3888 rows x 2 columns]
           date       RET
0    2000-01-03       NaN
1    2000-01-04       NaN
2    2000-01-05       NaN
3    2000-01-06       NaN
4    2000-01-07       NaN
..          ...       ...
308  2001-03-23 -0.002490
309  2001-03-26 -0.002551
310  2001-03-27 -0.003259
311  2001-03-28 -0.003314
312  2001-03-29 -0.003519

[313 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
1932  2007-09-11  0.006562
1933  2007-09-12  0.002192
1934  2007-09-13  0.000301
1935  2007-09-14  0.000770
1936  2007-09-17  0.000830

[1937 rows x 2 columns]
           date       RET
0    2003-01-24       NaN
1    2003-01-27       NaN
2    2003-01-28       NaN
3    2003-01-29       NaN
4    2003-01-30       NaN
..          ...       ...
540  2005-03-17  0.015524
541  2005-03-18  0.011542
542  2005-03-21  0.013400
543  2005-03-22  0.011637
544  2005-03-23  0.012130

[545 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
4712  2018-09-25  0.005278
4713  2018-09-26  0.003639
4714  2018-09-27  0.003330
4715  2018-09-28  0.004095
4716  2018-10-01  0.002928

[4717 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5589  2022-03-21 -0.022213
5590  2022-03-22 -0.021496
5591  2022-03-23 -0.016581
5592  2022-03-24 -0.020148
5593  2022-03-25 -0.022271

[5594 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23  0.001241
5783  2022-12-27  0.000117
5784  2022-12-28 -0.000600
5785  2022-12-29  0.001406
5786  2022-12-30  0.001567

[5787 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23  0.000746
5783  2022-12-27  0.000780
5784  2022-12-28  0.000198
5785  2022-12-29  0.002275
5786  2022-12-30  0.001417

[5787 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5783  2022-12-23 -0.000894
5784  2022-12-27 -0.001557
5785  2022-12-28 -0.001528
5786  2022-12-29  0.000359
5787  2022-12-30  0.000406

[5788 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23 -0.001302
5783  2022-12-27 -0.000268
5784  2022-12-28 -0.001644
5785  2022-12-29 -0.001350
5786  2022-12-30 -0.001577

[5787 rows x 2 columns]
            date       RET
0     2000-12-01       NaN
1     2000-12-04       NaN
2     2000-12-05       NaN
3     2000-12-06       NaN
4     2000-12-07       NaN
...          ...       ...
5550  2022-12-23 -0.003429
5551  2022-12-27 -0.003518
5552  2022-12-28 -0.004355
5553  2022-12-29 -0.002858
5554  2022-12-30 -0.002967

[5555 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23 -0.004489
5783  2022-12-27 -0.002366
5784  2022-12-28 -0.004265
5785  2022-12-29 -0.001508
5786  2022-12-30 -0.001771

[5787 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5783  2022-12-23 -0.003175
5784  2022-12-27 -0.003556
5785  2022-12-28 -0.004357
5786  2022-12-29 -0.001422
5787  2022-12-30 -0.001189

[5788 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23  0.001558
5783  2022-12-27  0.001465
5784  2022-12-28  0.000666
5785  2022-12-29  0.001432
5786  2022-12-30  0.001243

[5787 rows x 2 columns]
            date       RET
0     2018-04-30       NaN
1     2018-05-01       NaN
2     2018-05-02       NaN
3     2018-05-03       NaN
4     2018-05-04       NaN
...          ...       ...
1176  2022-12-23  0.001319
1177  2022-12-27  0.001851
1178  2022-12-28  0.001063
1179  2022-12-29  0.002673
1180  2022-12-30  0.002310

[1181 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23  0.002660
5783  2022-12-27  0.002847
5784  2022-12-28  0.001399
5785  2022-12-29  0.003148
5786  2022-12-30  0.001747

[5787 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23 -0.008173
5783  2022-12-27 -0.011147
5784  2022-12-28 -0.012503
5785  2022-12-29 -0.009275
5786  2022-12-30 -0.010548

[5787 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23 -0.003477
5783  2022-12-27 -0.003897
5784  2022-12-28 -0.004024
5785  2022-12-29 -0.001262
5786  2022-12-30 -0.001102

[5787 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23  0.003701
5783  2022-12-27  0.003867
5784  2022-12-28  0.002530
5785  2022-12-29  0.003956
5786  2022-12-30  0.002437

[5787 rows x 2 columns]
            date       RET
0     2007-03-08       NaN
1     2007-03-09       NaN
2     2007-03-12       NaN
3     2007-03-13       NaN
4     2007-03-14       NaN
...          ...       ...
3981  2022-12-23 -0.002130
3982  2022-12-27 -0.004989
3983  2022-12-28 -0.005344
3984  2022-12-29 -0.005341
3985  2022-12-30 -0.005122

[3986 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
1799  2007-03-01 -0.001324
1800  2007-03-02 -0.002272
1801  2007-03-05 -0.005064
1802  2007-03-06 -0.004226
1803  2007-03-07 -0.004735

[1804 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23  0.001035
5783  2022-12-27  0.000631
5784  2022-12-28  0.000030
5785  2022-12-29  0.000459
5786  2022-12-30  0.000229

[5787 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23  0.001035
5783  2022-12-27  0.000610
5784  2022-12-28 -0.000386
5785  2022-12-29  0.001306
5786  2022-12-30  0.000870

[5787 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
1482  2005-11-23  0.000525
1483  2005-11-25  0.001433
1484  2005-11-28  0.002772
1485  2005-11-29  0.003873
1486  2005-11-30  0.003235

[1487 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23 -0.001525
5783  2022-12-27 -0.001251
5784  2022-12-28 -0.002227
5785  2022-12-29 -0.001101
5786  2022-12-30 -0.000801

[5787 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23 -0.000092
5783  2022-12-27  0.000212
5784  2022-12-28 -0.000588
5785  2022-12-29  0.000747
5786  2022-12-30  0.000729

[5787 rows x 2 columns]
            date       RET
0     2007-08-07       NaN
1     2007-08-08       NaN
2     2007-08-09       NaN
3     2007-08-10       NaN
4     2007-08-13       NaN
...          ...       ...
2705  2018-04-30  0.000775
2706  2018-05-01  0.000971
2707  2018-05-02  0.000284
2708  2018-05-03 -0.001273
2709  2018-05-04  0.001010

[2710 rows x 2 columns]
             date       RET
0      2000-01-03       NaN
1      2000-01-04       NaN
2      2000-01-05       NaN
3      2000-01-06       NaN
4      2000-01-07       NaN
...           ...       ...
11569  2022-12-23 -0.003926
11570  2022-12-27 -0.004166
11571  2022-12-28 -0.005485
11572  2022-12-29 -0.003844
11573  2022-12-30 -0.004163

[11574 rows x 2 columns]
            date       RET
0     2003-09-16       NaN
1     2003-09-17       NaN
2     2003-09-18       NaN
3     2003-09-19       NaN
4     2003-09-22       NaN
...          ...       ...
4853  2022-12-23  0.010009
4854  2022-12-27  0.009660
4855  2022-12-28  0.008455
4856  2022-12-29  0.010997
4857  2022-12-30  0.010095

[4858 rows x 2 columns]
           date       RET
0    2000-01-03       NaN
1    2000-01-04       NaN
2    2000-01-05       NaN
3    2000-01-06       NaN
4    2000-01-07       NaN
..          ...       ...
616  2002-06-19 -0.025578
617  2002-06-20 -0.025627
618  2002-06-21 -0.022323
619  2002-06-24 -0.021793
620  2002-06-25 -0.024187

[621 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
1590  2006-05-02  0.002365
1591  2006-05-03  0.002217
1592  2006-05-04  0.001519
1593  2006-05-05  0.000593
1594  2006-05-08 -0.001297

[1595 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23 -0.008296
5783  2022-12-27 -0.010059
5784  2022-12-28 -0.011131
5785  2022-12-29 -0.011146
5786  2022-12-30 -0.008116

[5787 rows x 2 columns]
            date       RET
0     2009-06-10       NaN
1     2009-06-11       NaN
2     2009-06-12       NaN
3     2009-06-15       NaN
4     2009-06-16       NaN
...          ...       ...
2860  2020-10-19 -0.001078
2861  2020-10-20 -0.000584
2862  2020-10-21 -0.000096
2863  2020-10-22 -0.000270
2864  2020-10-23  0.004885

[2865 rows x 2 columns]
           date       RET
0    2020-03-13       NaN
1    2020-03-16       NaN
2    2020-03-17       NaN
3    2020-03-18       NaN
4    2020-03-19       NaN
..          ...       ...
696  2022-12-15 -0.007392
697  2022-12-16 -0.007748
698  2022-12-19 -0.008665
699  2022-12-20 -0.008091
700  2022-12-21 -0.007963

[701 rows x 2 columns]
           date       RET
0    2019-09-03       NaN
1    2019-09-04       NaN
2    2019-09-05       NaN
3    2019-09-06       NaN
4    2019-09-09       NaN
..          ...       ...
835  2022-12-23 -0.008893
836  2022-12-27 -0.009905
837  2022-12-28 -0.013371
838  2022-12-29 -0.015759
839  2022-12-30 -0.011177

[840 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN
...          ...       ...
5782  2022-12-23 -0.001422
5783  2022-12-27 -0.001290
5784  2022-12-28 -0.002519
5785  2022-12-29 -0.000158
5786  2022-12-30 -0.000107

[5787 rows x 2 columns]
            date       RET
0     2000-01-03       NaN
1     2000-01-04       NaN
2     2000-01-05       NaN
3     2000-01-06       NaN
4     2000-01-07       NaN