In [1]:
import pandas as pd
import numpy as np
#oof

In [2]:
company_dataset = pd.read_csv("Data/CRSP_stocks_clean.csv")

/var/folders/9x/zgzyj9l153v5qjjz_hdvd31r0000gn/T/ipykernel_22869/877988600.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  company_dataset = pd.read_csv("Data/CRSP_stocks_clean.csv")

In [3]:
company_dataset

,Unnamed: 0,date,TICKER,CUSIP,PRC,RET,VOL,BID,ASK,SHROUT
0,1718,2000-01-03,AIR,36110,17.5625,-0.020906,109000.0,17.375,17.750,27401.0
1,10251,2000-01-04,AIR,36110,17.6250,0.003559,51700.0,17.375,17.875,27401.0
2,18784,2000-01-05,AIR,36110,17.8125,0.010638,70400.0,17.500,18.000,27401.0
3,27320,2000-01-06,AIR,36110,17.9375,0.007018,60100.0,17.750,18.000,27401.0
4,35852,2000-01-07,AIR,36110,18.5625,0.034843,148000.0,18.125,18.750,27401.0
...,...,...,...,...,...,...,...,...,...,...
8109235,42531451,2022-12-23,TK,Y8564W10,4.5800,-0.002179,422897.0,4.580,4.590,101872.0
8109236,42540998,2022-12-27,TK,Y8564W10,4.5700,-0.002183,664421.0,4.570,4.580,101872.0
8109237,42550538,2022-12-28,TK,Y8564W10,4.3100,-0.056893,1103593.0,4.310,4.320,101872.0
8109238,42560071,2022-12-29,TK,Y8564W10,4.4300,0.027842,764632.0,4.420,4.430,101872.0
8109239,42569586,2022-12-30,TK,Y8564W10,4.5400,0.024831,338454.0,4.530,4.540,101872.0

In [4]:
company_dataset.describe()

,Unnamed: 0,PRC,RET,VOL,BID,ASK,SHROUT
count,8.109240e+06,8.109240e+06,8.109240e+06,8.109236e+06,8.011387e+06,8.011387e+06,8.109240e+06
mean,2.090025e+07,1.681014e+02,6.724031e-04,1.728679e+06,1.695450e+02,1.698529e+02,1.894705e+05
std,1.184000e+07,5.619363e+03,3.072010e-02,8.122187e+06,5.646957e+03,5.654736e+03,6.357353e+05
min,7.000000e+00,-3.941050e+02,-8.666670e-01,0.000000e+00,1.000000e-02,3.200000e-02,1.000000e+01
25%,1.079093e+07,1.084000e+01,-1.030200e-02,4.000200e+04,1.102000e+01,1.110000e+01,1.638900e+04
50%,2.074491e+07,2.387500e+01,0.000000e+00,2.162405e+05,2.399000e+01,2.408000e+01,4.296800e+04
75%,3.089239e+07,4.561000e+01,1.080900e-02,9.836855e+05,4.578000e+01,4.587000e+01,1.279820e+05
max,4.257144e+07,5.391800e+05,5.985491e+00,1.226791e+09,5.391600e+05,5.398000e+05,1.710254e+07

In [33]:
# groupy by ticker
grouped_data = company_dataset.groupby('TICKER')
#empty array for tickers
for ticker,data in grouped_data:
    returns = data[['RET','date']]

              RET        date
1823322 -0.068715  2000-01-03
1823323 -0.089410  2000-01-04
1823324 -0.048618  2000-01-05
1823325 -0.054108  2000-01-06
1823326  0.101695  2000-01-07
...           ...         ...
1829104  0.001476  2022-12-23
1829105  0.002144  2022-12-27
1829106 -0.009763  2022-12-28
1829107  0.020258  2022-12-29
1829108 -0.008042  2022-12-30

[5787 rows x 2 columns]
             RET        date
636697 -0.024849  2000-01-03
636698  0.004633  2000-01-04
636699  0.057648  2000-01-05
636700 -0.013081  2000-01-06
636701 -0.002946  2000-01-07
...          ...         ...
640927  0.016009  2016-10-25
640928  0.018322  2016-10-26
640929  0.015473  2016-10-27
640930  0.005315  2016-10-28
640931  0.012337  2016-10-31

[4235 rows x 2 columns]
              RET        date
2152687 -0.040293  2020-10-26
2152688 -0.022901  2020-10-27
2152689 -0.019531  2020-10-28
2152690 -0.007968  2020-10-29
2152691 -0.012048  2020-10-30
...           ...         ...
2153232  0.007018  2022-12-23
2153233 -0.003484  2022-12-27
2153234 -0.010490  2022-12-28
2153235  0.031802  2022-12-29
2153236  0.003425  2022-12-30

[550 rows x 2 columns]
              RET        date
2199533  0.000000  2000-01-03
2199534  0.027027  2000-01-04
2199535  0.026316  2000-01-05
2199536 -0.051282  2000-01-06
2199537  0.027027  2000-01-07
...           ...         ...
2205315 -0.031961  2022-12-23
2205316 -0.010331  2022-12-27
2205317 -0.027140  2022-12-28
2205318 -0.064378  2022-12-29
2205319  0.073853  2022-12-30

[5787 rows x 2 columns]
              RET        date
6207315 -0.060751  2009-04-20
6207316  0.010638  2009-04-21
6207317  0.031579  2009-04-22
6207318 -0.030612  2009-04-23
6207319 -0.010526  2009-04-24
...           ...         ...
6210236  0.025234  2020-11-23
6210237  0.026780  2020-11-24
6210238 -0.028494  2020-11-25
6210239  0.003569  2020-11-27
6210240 -0.026906  2020-11-30

[2926 rows x 2 columns]
              RET        date
1672734 -0.060870  2000-01-03
1672735  0.041667  2000-01-04
1672736  0.008889  2000-01-05
1672737  0.004405  2000-01-06
1672738 -0.035088  2000-01-07
...           ...         ...
1678516 -0.009919  2022-12-23
1678517  0.013709  2022-12-27
1678518 -0.016905  2022-12-28
1678519  0.016534  2022-12-29
1678520 -0.019909  2022-12-30

[5787 rows x 2 columns]
              RET        date
2101151  0.088754  2000-01-03
2101152 -0.084310  2000-01-04
2101153  0.014634  2000-01-05
2101154 -0.086538  2000-01-06
2101155  0.047368  2000-01-07
...           ...         ...
2106933 -0.002798  2022-12-23
2106934 -0.013878  2022-12-27
2106935 -0.030685  2022-12-28
2106936  0.028324  2022-12-29
2106937  0.002469  2022-12-30

[5787 rows x 2 columns]
              RET        date
2002765  0.024691  2000-01-03
2002766 -0.068273  2000-01-04
2002767  0.077586  2000-01-05
2002768  0.076000  2000-01-06
2002769  0.130112  2000-01-07
...           ...         ...
2003179 -0.006515  2001-08-23
2003180  0.019508  2001-08-24
2003181  0.045184  2001-08-27
2003182 -0.006154  2001-08-28
2003183 -0.017028  2001-08-29

[419 rows x 2 columns]
              RET        date
1900113  0.026977  2006-02-27
1900114 -0.029740  2006-02-28
1900115  0.010425  2006-03-01
1900116 -0.015861  2006-03-02
1900117 -0.010171  2006-03-03
...           ...         ...
1904350 -0.015795  2022-12-23
1904351 -0.005544  2022-12-27
1904352 -0.027876  2022-12-28
1904353  0.037126  2022-12-29
1904354  0.000291  2022-12-30

[4242 rows x 2 columns]
              RET        date
2003184 -0.010551  2001-08-30
2003185  0.025625  2001-08-31
2003186  0.013966  2001-09-04
2003187  0.001990  2001-09-05
2003188  0.018940  2001-09-06
...           ...         ...
2008547  0.004372  2022-12-23
2008548 -0.005941  2022-12-27
2008549 -0.009704  2022-12-28
2008550 -0.007827  2022-12-29
2008551 -0.002048  2022-12-30

[5368 rows x 2 columns]
              RET        date
2014339  0.011765  2000-01-03
2014340 -0.011628  2000-01-04
2014341  0.000000  2000-01-05
2014342  0.000000  2000-01-06
2014343  0.011765  2000-01-07
...           ...         ...
2020121  0.015489  2022-12-23
2020122  0.002089  2022-12-27
2020123 -0.020851  2022-12-28
2020124  0.010860  2022-12-29
2020125 -0.003804  2022-12-30

[5787 rows x 2 columns]
              RET        date
1931013 -0.017687  2013-11-11
1931014  0.022161  2013-11-12
1931015 -0.012195  2013-11-13
1931016  0.024691  2013-11-14
1931017  0.006693  2013-11-15
...           ...         ...
1933312  0.018116  2022-12-23
1933313 -0.032028  2022-12-27
1933314  0.011029  2022-12-28
1933315  0.000000  2022-12-29
1933316 -0.010909  2022-12-30

[2304 rows x 2 columns]
              RET        date
2124299  0.046875  2000-01-03
2124300  0.012438  2000-01-04
2124301  0.002457  2000-01-05
2124302  0.034314  2000-01-06
2124303  0.033175  2000-01-07
...           ...         ...
2127897 -0.001543  2014-04-24
2127898 -0.021123  2014-04-25
2127899 -0.004474  2014-04-28
2127900  0.004494  2014-04-29
2127901  0.037368  2014-04-30

[3603 rows x 2 columns]
              RET        date
1709739  0.011364  2009-01-28
1709740  0.033708  2009-01-29
1709741  0.097391  2009-01-30
1709742  0.069731  2009-02-02
1709743  0.097796  2009-02-03
...           ...         ...
1713241 -0.020833  2022-12-23
1713242 -0.025532  2022-12-27
1713243  0.030568  2022-12-28
1713244  0.029661  2022-12-29
1713245 -0.024691  2022-12-30

[3507 rows x 2 columns]
              RET        date
1678521 -0.003067  2000-01-03
1678522  0.003077  2000-01-04
1678523 -0.012270  2000-01-05
1678524  0.003106  2000-01-06
1678525  0.003096  2000-01-07
...           ...         ...
1684303  0.008690  2022-12-23
1684304  0.010882  2022-12-27
1684305 -0.011213  2022-12-28
1684306  0.015423  2022-12-29
1684307 -0.007818  2022-12-30

[5787 rows x 2 columns]
              RET        date
1927681  0.000000  2000-09-15
1927682  0.000000  2000-09-18
1927683 -0.033333  2000-09-19
1927684  0.034483  2000-09-20
1927685  0.000000  2000-09-21
...           ...         ...
1931008 -0.005362  2013-11-04
1931009 -0.029650  2013-11-05
1931010  0.020833  2013-11-06
1931011  0.000544  2013-11-07
1931012 -0.000544  2013-11-08

[3332 rows x 2 columns]
              RET        date
2419476  0.000000  2000-01-03
2419477 -0.014134  2000-01-04
2419478  0.017921  2000-01-05
2419479  0.000000  2000-01-06
2419480 -0.024648  2000-01-07
...           ...         ...
2424250  0.039634  2018-12-24
2424251  0.000733  2018-12-26
2424252  0.009524  2018-12-27
2424253 -0.043034  2018-12-28
2424254  0.032012  2018-12-31

[4779 rows x 2 columns]
              RET        date
1898568 -0.006263  2000-01-03
1898569 -0.004202  2000-01-04
1898570  0.004219  2000-01-05
1898571  0.016807  2000-01-06
1898572  0.033058  2000-01-07
...           ...         ...
1900108  0.018327  2006-02-17
1900109  0.001878  2006-02-21
1900110  0.011403  2006-02-22
1900111  0.001081  2006-02-23
1900112 -0.004937  2006-02-24

[1545 rows x 2 columns]
              RET        date
7970658  0.065816  2001-03-30
7970659 -0.024211  2001-04-02
7970660 -0.046557  2001-04-03
7970661 -0.020468  2001-04-04
7970662  0.011940  2001-04-05
...           ...         ...
7974374 -0.014519  2016-01-08
7974375  0.003001  2016-01-11
7974376  0.016411  2016-01-12
7974377 -0.018198  2016-01-13
7974378  0.008723  2016-01-14

[3721 rows x 2 columns]
              RET        date
7825741 -0.027888  2000-05-09
7825742  0.028689  2000-05-10
7825743 -0.043825  2000-05-11
7825744  0.025000  2000-05-12
7825745  0.000000  2000-05-15
...           ...         ...
7831435  0.008433  2022-12-23
7831436  0.003787  2022-12-27
7831437 -0.016033  2022-12-28
7831438  0.008147  2022-12-29
7831439 -0.005229  2022-12-30

[5699 rows x 2 columns]
            RET        date
10211 -0.031915  2017-08-03
10212 -0.024108  2017-08-04
10213 -0.061891  2017-08-07
10214 -0.020513  2017-08-08
10215 -0.091623  2017-08-09
...         ...         ...
11569  0.012146  2022-12-23
11570 -0.032000  2022-12-27
11571  0.004132  2022-12-28
11572  0.049383  2022-12-29
11573 -0.039216  2022-12-30

[1363 rows x 2 columns]
            RET        date
13473  0.124808  2007-07-25
13474 -0.160305  2007-07-26
13475 -0.025649  2007-07-27
13476  0.028324  2007-07-30
13477 -0.010693  2007-07-31
...         ...         ...
17356  0.030971  2022-12-23
17357  0.013200  2022-12-27
17358 -0.007637  2022-12-28
17359  0.047533  2022-12-29
17360 -0.006050  2022-12-30

[3888 rows x 2 columns]
              RET        date
7970345 -0.022472  2000-01-03
7970346 -0.007663  2000-01-04
7970347 -0.057915  2000-01-05
7970348  0.057377  2000-01-06
7970349  0.124031  2000-01-07
...           ...         ...
7970653  0.006042  2001-03-23
7970654  0.025526  2001-03-26
7970655 -0.007321  2001-03-27
7970656  0.009734  2001-03-28
7970657  0.011437  2001-03-29

[313 rows x 2 columns]
             RET        date
659845  0.040984  2000-01-03
659846  0.015748  2000-01-04
659847 -0.007752  2000-01-05
659848 -0.015625  2000-01-06
659849 -0.015873  2000-01-07
...          ...         ...
661777  0.010689  2007-09-11
661778 -0.017361  2007-09-12
661779  0.003049  2007-09-13
661780 -0.000894  2007-09-14
661781 -0.005799  2007-09-17

[1937 rows x 2 columns]
              RET        date
1916696 -0.009901  2003-01-24
1916697 -0.150000  2003-01-27
1916698  0.152941  2003-01-28
1916699 -0.081633  2003-01-29
1916700 -0.133333  2003-01-30
...           ...         ...
1917236 -0.046967  2005-03-17
1917237 -0.005525  2005-03-18
1917238  0.007778  2005-03-21
1917239 -0.008820  2005-03-22
1917240  0.006674  2005-03-23

[545 rows x 2 columns]
              RET        date
5116753  0.041667  2000-01-03
5116754 -0.005000  2000-01-04
5116755  0.010050  2000-01-05
5116756  0.009950  2000-01-06
5116757  0.004926  2000-01-07
...           ...         ...
5121465 -0.006268  2018-09-25
5121466 -0.032525  2018-09-26
5121467 -0.003056  2018-09-27
5121468  0.009810  2018-09-28
5121469 -0.018822  2018-10-01

[4717 rows x 2 columns]
              RET        date
1794387 -0.020408  2000-01-03
1794388  0.020833  2000-01-04
1794389 -0.020408  2000-01-05
1794390 -0.010417  2000-01-06
1794391  0.031579  2000-01-07
...           ...         ...
1799976 -0.013841  2022-03-21
1799977 -0.021053  2022-03-22
1799978 -0.010753  2022-03-23
1799979 -0.068841  2022-03-24
1799980 -0.046693  2022-03-25

[5594 rows x 2 columns]
              RET        date
1777026 -0.025093  2000-01-03
1777027 -0.083889  2000-01-04
1777028  0.019771  2000-01-05
1777029  0.008163  2000-01-06
1777030  0.048583  2000-01-07
...           ...         ...
1782808  0.005735  2022-12-23
1782809 -0.009928  2022-12-27
1782810 -0.020174  2022-12-28
1782811  0.028173  2022-12-29
1782812 -0.003110  2022-12-30

[5787 rows x 2 columns]
              RET        date
1840683 -0.021930  2000-01-03
1840684 -0.026906  2000-01-04
1840685 -0.018433  2000-01-05
1840686  0.018779  2000-01-06
1840687  0.009217  2000-01-07
...           ...         ...
1846465  0.013322  2022-12-23
1846466 -0.004196  2022-12-27
1846467 -0.010534  2022-12-28
1846468  0.016750  2022-12-29
1846469 -0.006443  2022-12-30

[5787 rows x 2 columns]
              RET        date
2054848 -0.030242  2000-01-03
2054849 -0.050589  2000-01-04
2054850  0.014599  2000-01-05
2054851 -0.027338  2000-01-06
2054852  0.028107  2000-01-07
...           ...         ...
2060631  0.000550  2022-12-23
2060632 -0.010010  2022-12-27
2060633 -0.011837  2022-12-28
2060634  0.023085  2022-12-29
2060635  0.000305  2022-12-30

[5788 rows x 2 columns]
              RET        date
2135873 -0.010309  2000-01-03
2135874 -0.010417  2000-01-04
2135875 -0.015789  2000-01-05
2135876  0.005348  2000-01-06
2135877  0.015957  2000-01-07
...           ...         ...
2141655  0.012087  2022-12-23
2141656  0.013633  2022-12-27
2141657 -0.023877  2022-12-28
2141658 -0.005341  2022-12-29
2141659 -0.002900  2022-12-30

[5787 rows x 2 columns]
            RET        date
92828 -0.016098  2000-12-01
92829  0.003850  2000-12-04
92830  0.001918  2000-12-05
92831  0.013397  2000-12-06
92832 -0.015449  2000-12-07
...         ...         ...
98378  0.007443  2022-12-23
98379  0.000374  2022-12-27
98380 -0.013193  2022-12-28
98381  0.011646  2022-12-29
98382 -0.007314  2022-12-30

[5555 rows x 2 columns]
              RET        date
2222682 -0.011111  2000-01-03
2222683 -0.048689  2000-01-04
2222684 -0.062992  2000-01-05
2222685 -0.060924  2000-01-06
2222686  0.118568  2000-01-07
...           ...         ...
2228464  0.000319  2022-12-23
2228465 -0.009938  2022-12-27
2228466 -0.023565  2022-12-28
2228467  0.034195  2022-12-29
2228468 -0.006645  2022-12-30

[5787 rows x 2 columns]
              RET        date
1759621 -0.005468  2000-01-03
1759622 -0.031155  2000-01-04
1759623  0.013871  2000-01-05
1759624  0.016791  2000-01-06
1759625  0.089908  2000-01-07
...           ...         ...
1765404  0.006427  2022-12-23
1765405 -0.013305  2022-12-27
1765406 -0.015642  2022-12-28
1765407  0.029589  2022-12-29
1765408  0.000000  2022-12-30

[5788 rows x 2 columns]
              RET        date
1933317 -0.013359  2000-01-03
1933318  0.000000  2000-01-04
1933319  0.038685  2000-01-05
1933320 -0.003724  2000-01-06
1933321  0.014953  2000-01-07
...           ...         ...
1939099  0.013241  2022-12-23
1939100  0.008377  2022-12-27
1939101 -0.009969  2022-12-28
1939102  0.007049  2022-12-29
1939103 -0.012110  2022-12-30

[5787 rows x 2 columns]
              RET        date
1746856 -0.018579  2018-04-30
1746857  0.005568  2018-05-01
1746858 -0.006644  2018-05-02
1746859 -0.008919  2018-05-03
1746860 -0.006738  2018-05-04
...           ...         ...
1748032 -0.001945  2022-12-23
1748033  0.011696  2022-12-27
1748034 -0.017341  2022-12-28
1748035  0.029412  2022-12-29
1748036 -0.001938  2022-12-30

[1181 rows x 2 columns]
              RET        date
1805961  0.028796  2000-01-03
1805962 -0.038804  2000-01-04
1805963 -0.020516  2000-01-05
1805964 -0.010811  2000-01-06
1805965  0.024590  2000-01-07
...           ...         ...
1811743  0.011811  2022-12-23
1811744  0.000000  2022-12-27
1811745 -0.019455  2022-12-28
1811746  0.009921  2022-12-29
1811747 -0.009823  2022-12-30

[5787 rows x 2 columns]
              RET        date
1788600 -0.037500  2000-01-03
1788601  0.000000  2000-01-04
1788602 -0.012987  2000-01-05
1788603 -0.026316  2000-01-06
1788604  0.054054  2000-01-07
...           ...         ...
1794382  0.005753  2022-12-23
1794383 -0.036225  2022-12-27
1794384 -0.015826  2022-12-28
1794385  0.036683  2022-12-29
1794386 -0.025691  2022-12-30

[5787 rows x 2 columns]
              RET        date
1811748 -0.078680  2000-01-03
1811749 -0.008264  2000-01-04
1811750 -0.016667  2000-01-05
1811751 -0.011299  2000-01-06
1811752  0.002857  2000-01-07
...           ...         ...
1817530  0.005283  2022-12-23
1817531  0.002986  2022-12-27
1817532 -0.014529  2022-12-28
1817533  0.036012  2022-12-29
1817534  0.000583  2022-12-30

[5787 rows x 2 columns]
              RET        date
1829109 -0.033613  2000-01-03
1829110 -0.026087  2000-01-04
1829111 -0.008929  2000-01-05
1829112  0.018018  2000-01-06
1829113  0.026549  2000-01-07
...           ...         ...
1834891  0.016419  2022-12-23
1834892  0.017484  2022-12-27
1834893 -0.028203  2022-12-28
1834894  0.002306  2022-12-29
1834895 -0.003068  2022-12-30

[5787 rows x 2 columns]
              RET        date
1952482  0.044184  2007-03-08
1952483  0.000331  2007-03-09
1952484  0.015202  2007-03-12
1952485 -0.037109  2007-03-13
1952486  0.031102  2007-03-14
...           ...         ...
1956463  0.011088  2022-12-23
1956464 -0.034270  2022-12-27
1956465 -0.007807  2022-12-28
1956466  0.000715  2022-12-29
1956467 -0.002144  2022-12-30

[3986 rows x 2 columns]
              RET        date
1950678 -0.022222  2000-01-03
1950679 -0.088068  2000-01-04
1950680  0.075545  2000-01-05
1950681 -0.070963  2000-01-06
1950682  0.022603  2000-01-07
...           ...         ...
1952477 -0.007407  2007-03-01
1952478 -0.033095  2007-03-02
1952479 -0.031208  2007-03-05
1952480  0.033252  2007-03-06
1952481 -0.028830  2007-03-07

[1804 rows x 2 columns]
              RET        date
1944891 -0.021401  2000-01-03
1944892  0.011928  2000-01-04
1944893  0.037328  2000-01-05
1944894  0.005682  2000-01-06
1944895  0.013183  2000-01-07
...           ...         ...
1950673  0.012914  2022-12-23
1950674  0.006270  2022-12-27
1950675 -0.009658  2022-12-28
1950676  0.006816  2022-12-29
1950677 -0.011041  2022-12-30

[5787 rows x 2 columns]
              RET        date
1690095 -0.030100  2000-01-03
1690096 -0.039655  2000-01-04
1690097  0.010772  2000-01-05
1690098  0.007993  2000-01-06
1690099  0.019383  2000-01-07
...           ...         ...
1695877  0.013070  2022-12-23
1695878  0.004881  2022-12-27
1695879 -0.017349  2022-12-28
1695880  0.017302  2022-12-29
1695881 -0.001735  2022-12-30

[5787 rows x 2 columns]
              RET        date
4399032 -0.038202  2000-01-03
4399033 -0.028037  2000-01-04
4399034 -0.038462  2000-01-05
4399035  0.020000  2000-01-06
4399036  0.007353  2000-01-07
...           ...         ...
4400514  0.025443  2005-11-23
4400515  0.000757  2005-11-25
4400516 -0.002268  2005-11-28
4400517  0.015155  2005-11-29
4400518 -0.005972  2005-11-30

[1487 rows x 2 columns]
              RET        date
1956468 -0.040284  2000-01-03
1956469 -0.022222  2000-01-04
1956470 -0.025253  2000-01-05
1956471  0.025907  2000-01-06
1956472  0.040404  2000-01-07
...           ...         ...
1962250  0.012563  2022-12-23
1962251  0.003846  2022-12-27
1962252 -0.014384  2022-12-28
1962253  0.009240  2022-12-29
1962254 -0.002471  2022-12-30

[5787 rows x 2 columns]
              RET        date
1684308 -0.051656  2000-01-03
1684309 -0.026536  2000-01-04
1684310 -0.005739  2000-01-05
1684311  0.020202  2000-01-06
1684312  0.019802  2000-01-07
...           ...         ...
1690090  0.011846  2022-12-23
1690091  0.006829  2022-12-27
1690092 -0.010659  2022-12-28
1690093  0.008535  2022-12-29
1690094 -0.001942  2022-12-30

[5787 rows x 2 columns]
              RET        date
7833348 -0.006203  2007-08-07
7833349  0.036205  2007-08-08
7833350  0.036145  2007-08-09
7833351 -0.006744  2007-08-10
7833352  0.028096  2007-08-13
...           ...         ...
7836053 -0.002560  2018-04-30
7836054  0.002566  2018-05-01
7836055 -0.026450  2018-05-02
7836056 -0.021034  2018-05-03
7836057  0.053715  2018-05-04

[2710 rows x 2 columns]
              RET        date
3936008 -0.007752  2000-01-03
3936009  0.007813  2000-01-04
3936010 -0.007752  2000-01-05
3936011  0.003906  2000-01-06
3936012 -0.003891  2000-01-07
...           ...         ...
3947577  0.001670  2022-12-23
3947578 -0.004650  2022-12-27
3947579 -0.019214  2022-12-28
3947580  0.019860  2022-12-29
3947581 -0.006873  2022-12-30

[11574 rows x 2 columns]
              RET        date
1835825  0.071429  2003-09-16
1835826 -0.029744  2003-09-17
1835827  0.022199  2003-09-18
1835828 -0.039297  2003-09-19
1835829  0.000000  2003-09-22
...           ...         ...
1840678  0.027992  2022-12-23
1840679 -0.012116  2022-12-27
1840680 -0.023897  2022-12-28
1840681  0.038601  2022-12-29
1840682 -0.012971  2022-12-30

[4858 rows x 2 columns]
              RET        date
6841601  0.095965  2000-01-03
6841602 -0.058706  2000-01-04
6841603  0.025899  2000-01-05
6841604 -0.097372  2000-01-06
6841605  0.102740  2000-01-07
...           ...         ...
6842217 -0.111446  2002-06-19
6842218 -0.057627  2002-06-20
6842219  0.075540  2002-06-21
6842220 -0.030100  2002-06-24
6842221  0.087931  2002-06-25

[621 rows x 2 columns]
              RET        date
4474275 -0.039648  2000-01-03
4474276 -0.019495  2000-01-04
4474277 -0.008187  2000-01-05
4474278  0.021226  2000-01-06
4474279  0.042725  2000-01-07
...           ...         ...
4475865  0.019496  2006-05-02
4475866 -0.005082  2006-05-03
4475867 -0.027151  2006-05-04
4475868  0.006770  2006-05-05
4475869 -0.015987  2006-05-08

[1595 rows x 2 columns]
              RET        date
1904355  0.052632  2000-01-03