In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
company_dataset = pd.read_csv("Data/CRSP_stocks_clean.csv")

/var/folders/9x/zgzyj9l153v5qjjz_hdvd31r0000gn/T/ipykernel_28555/877988600.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  company_dataset = pd.read_csv("Data/CRSP_stocks_clean.csv")

In [3]:
company_dataset[company_dataset["TICKER"]=="AA"]

,Unnamed: 0,date,TICKER,CUSIP,PRC,RET,VOL,BID,ASK,SHROUT
636697,887,2000-01-03,AA,44320110,80.9375,-0.024849,1551299.0,80.750,81.125,366407.0
636698,9421,2000-01-04,AA,44320110,81.3125,0.004633,2234799.0,81.125,81.500,366407.0
636699,17954,2000-01-05,AA,44320110,86.0000,0.057648,3121599.0,85.750,86.250,366407.0
636700,26490,2000-01-06,AA,44320110,84.8750,-0.013081,4494699.0,84.625,85.125,366407.0
636701,35023,2000-01-07,AA,44320110,84.6250,-0.002946,4534699.0,85.000,85.375,366407.0
...,...,...,...,...,...,...,...,...,...,...
640927,30094608,2016-10-25,AA,44320110,27.2900,0.016009,9682861.0,27.290,27.300,438460.0
640928,30101849,2016-10-26,AA,44320110,27.7900,0.018322,7794174.0,27.790,27.800,438460.0
640929,30109093,2016-10-27,AA,44320110,28.2200,0.015473,9271414.0,28.210,28.220,438460.0
640930,30116338,2016-10-28,AA,44320110,28.3700,0.005315,8937600.0,28.360,28.370,438460.0
640931,30123586,2016-10-31,AA,44320110,28.7200,0.012337,10628813.0,28.720,28.730,438000.0

In [4]:
#to change when we have more recent data
today = pd.to_datetime(date(2022, 12, 30))
#create historical mean starting date, should be about 3 years from current
historicalstart = pd.to_datetime(date(2019,12,30))

In [5]:
testdf = company_dataset
testdf = testdf[testdf['TICKER']=='AAPL']
print(testdf.dtypes)

Unnamed: 0      int64
date           object
TICKER         object
CUSIP          object
PRC           float64
RET           float64
VOL           float64
BID           float64
ASK           float64
SHROUT        float64
dtype: object

In [8]:
def ConditionalMean(returns,startdate):
    #filter rows where date is after startdate
    conditionalMeanDF = returns[returns['date'] > startdate]
    #take the mean return
    conditionalmean = conditionalMeanDF["RET"].mean()
    return conditionalmean

def VolatilityDF(returns):
   #Calculate standard deviation of returns
    volatilitydf = returns
    volatilitydf.set_index('date',inplace=True)
    volatilitydf["Std"] = volatilitydf.rolling(window=22).std()
    volatilitydf = volatilitydf.reset_index()
    return(volatilitydf)

In [9]:
# groupy by ticker
grouped_data = company_dataset.groupby('TICKER')
returns = pd.DataFrame({})
for ticker,data in grouped_data:
    #creating a returns dataframe for each ticker with return and date columns, then indexing by date
    print(ticker)
    returns = data[['RET','date']].dropna()
    returns['date'] = pd.to_datetime(returns['date'])
    returns.set_index('date',inplace=True)
    returns = returns.rolling(window=22).mean()
    returns = returns.reset_index()
    print(ConditionalMean(returns,historicalstart))
    print(VolatilityDF(returns))

A
0.00101995172330971
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5782 2022-12-23 -0.002142  0.002609
5783 2022-12-27 -0.001607  0.002719
5784 2022-12-28 -0.002522  0.002859
5785 2022-12-29 -0.000251  0.002908
5786 2022-12-30 -0.000211  0.002934

[5787 rows x 3 columns]
AA
nan
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
4230 2016-10-25 -0.002786  0.001711
4231 2016-10-26 -0.001580  0.001711
4232 2016-10-27 -0.000736  0.001708
4233 2016-10-28 -0.001578  0.001701
4234 2016-10-31 -0.001385  0.001702

[4235 rows x 3 columns]
AAIC
0.0003236861144526549
          date       RET       Std
0   2020-10-26       NaN       NaN
1   2020-10-27       NaN       NaN
2   2020-10-28       NaN       NaN
3   2020-10-29       NaN       NaN
4   2020-10-30       NaN       NaN
..         ...       ...       ...
545 2022-12-23 -0.002082  0.002138
546 2022-12-27 -0.003600  0.001991
547 2022-12-28 -0.004223  0.001851
548 2022-12-29 -0.002047  0.001703
549 2022-12-30 -0.001891  0.001629

[550 rows x 3 columns]
AAME
0.0022267956647051778
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5782 2022-12-23 -0.006726  0.003847
5783 2022-12-27 -0.009267  0.003663
5784 2022-12-28 -0.009473  0.003513
5785 2022-12-29 -0.010955  0.003638
5786 2022-12-30 -0.007679  0.003606

[5787 rows x 3 columns]
AAN
0.0014848571708463933
           date       RET       Std
0    2009-04-20       NaN       NaN
1    2009-04-21       NaN       NaN
2    2009-04-22       NaN       NaN
3    2009-04-23       NaN       NaN
4    2009-04-24       NaN       NaN
...         ...       ...       ...
2921 2020-11-23  0.004629  0.002296
2922 2020-11-24  0.006102  0.002579
2923 2020-11-25  0.006146  0.002822
2924 2020-11-27  0.006541  0.003074
2925 2020-11-30  0.006648  0.003192

[2926 rows x 3 columns]
AAON
0.000933833253272488
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5782 2022-12-23 -0.001865  0.005599
5783 2022-12-27 -0.000728  0.005372
5784 2022-12-28 -0.001583  0.005265
5785 2022-12-29  0.000951  0.005103
5786 2022-12-30 -0.000791  0.004979

[5787 rows x 3 columns]
AAPL
0.00121812243304911
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5782 2022-12-23 -0.005700  0.002774
5783 2022-12-27 -0.006600  0.002925
5784 2022-12-28 -0.007104  0.003126
5785 2022-12-29 -0.004623  0.003164
5786 2022-12-30 -0.003550  0.003154

[5787 rows x 3 columns]
AAS
nan
          date       RET       Std
0   2000-01-03       NaN       NaN
1   2000-01-04       NaN       NaN
2   2000-01-05       NaN       NaN
3   2000-01-06       NaN       NaN
4   2000-01-07       NaN       NaN
..         ...       ...       ...
414 2001-08-23  0.004606  0.001451
415 2001-08-24  0.005468  0.001417
416 2001-08-27  0.005740  0.001641
417 2001-08-28  0.004582  0.001733
418 2001-08-29  0.003141  0.001750

[419 rows x 3 columns]
AB
0.0010773312117209122
           date       RET       Std
0    2006-02-27       NaN       NaN
1    2006-02-28       NaN       NaN
2    2006-03-01       NaN       NaN
3    2006-03-02       NaN       NaN
4    2006-03-03       NaN       NaN
...         ...       ...       ...
4237 2022-12-23 -0.008210  0.004867
4238 2022-12-27 -0.008197  0.005055
4239 2022-12-28 -0.009664  0.005296
4240 2022-12-29 -0.006761  0.005309
4241 2022-12-30 -0.007145  0.005221

[4242 rows x 3 columns]
ABC
0.001134281674072295
           date       RET       Std
0    2001-08-30       NaN       NaN
1    2001-08-31       NaN       NaN
2    2001-09-04       NaN       NaN
3    2001-09-05       NaN       NaN
4    2001-09-06       NaN       NaN
...         ...       ...       ...
5363 2022-12-23  0.001498  0.000993
5364 2022-12-27  0.001002  0.001059
5365 2022-12-28 -0.000035  0.001215
5366 2022-12-29 -0.000247  0.001376
5367 2022-12-30 -0.000539  0.001530

[5368 rows x 3 columns]
ABCB
0.0007192781313798498
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5782 2022-12-23 -0.004461  0.002816
5783 2022-12-27 -0.004126  0.002689
5784 2022-12-28 -0.005583  0.002625
5785 2022-12-29 -0.004073  0.002548
5786 2022-12-30 -0.004281  0.002457

[5787 rows x 3 columns]
ABEV
-5.8169465099544515e-05
           date       RET       Std
0    2013-11-11       NaN       NaN
1    2013-11-12       NaN       NaN
2    2013-11-13       NaN       NaN
3    2013-11-14       NaN       NaN
4    2013-11-15       NaN       NaN
...         ...       ...       ...
2299 2022-12-23  0.001508  0.002141
2300 2022-12-27 -0.000740  0.002090
2301 2022-12-28 -0.000083  0.001979
2302 2022-12-29 -0.000395  0.001864
2303 2022-12-30 -0.000736  0.001833

[2304 rows x 3 columns]
ABFS
nan
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
3598 2014-04-24  0.003669  0.002379
3599 2014-04-25  0.002318  0.002304
3600 2014-04-28  0.002965  0.002301
3601 2014-04-29  0.004037  0.002329
3602 2014-04-30  0.005345  0.002412

[3603 rows x 3 columns]
ABIO
0.002653832052359793
           date       RET       Std
0    2009-01-28       NaN       NaN
1    2009-01-29       NaN       NaN
2    2009-01-30       NaN       NaN
3    2009-02-02       NaN       NaN
4    2009-02-03       NaN       NaN
...         ...       ...       ...
3502 2022-12-23  0.005707  0.003850
3503 2022-12-27  0.004109  0.003806
3504 2022-12-28  0.005931  0.003768
3505 2022-12-29  0.007935  0.003708
3506 2022-12-30  0.006589  0.003566

[3507 rows x 3 columns]
ABM
0.0006809331692085958
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5782 2022-12-23 -0.001474  0.001551
5783 2022-12-27 -0.000572  0.001510
5784 2022-12-28 -0.001453  0.001539
5785 2022-12-29 -0.000394  0.001546
5786 2022-12-30 -0.001090  0.001582

[5787 rows x 3 columns]
ABV
nan
           date       RET       Std
0    2000-09-15       NaN       NaN
1    2000-09-18       NaN       NaN
2    2000-09-19       NaN       NaN
3    2000-09-20       NaN       NaN
4    2000-09-21       NaN       NaN
...         ...       ...       ...
3327 2013-11-04 -0.001330  0.001952
3328 2013-11-05 -0.003165  0.001886
3329 2013-11-06 -0.001689  0.001800
3330 2013-11-07 -0.000964  0.001747
3331 2013-11-08 -0.001218  0.001729

[3332 rows x 3 columns]
ABX
nan
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
4774 2018-12-24  0.002555  0.001583
4775 2018-12-26  0.001088  0.001589
4776 2018-12-27  0.002770  0.001510
4777 2018-12-28  0.001023  0.001461
4778 2018-12-31  0.003454  0.001472

[4779 rows x 3 columns]
AC
nan
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
1540 2006-02-17  0.003068  0.000983
1541 2006-02-21  0.002825  0.000974
1542 2006-02-22  0.004293  0.001008
1543 2006-02-23  0.004342  0.001038
1544 2006-02-24  0.003186  0.001014

[1545 rows x 3 columns]
ACE
nan
           date       RET       Std
0    2001-03-30       NaN       NaN
1    2001-04-02       NaN       NaN
2    2001-04-03       NaN       NaN
3    2001-04-04       NaN       NaN
4    2001-04-05       NaN       NaN
...         ...       ...       ...
3716 2016-01-08 -0.002533  0.001147
3717 2016-01-11 -0.001939  0.001251
3718 2016-01-12 -0.000777  0.001270
3719 2016-01-13 -0.001541  0.001318
3720 2016-01-14 -0.000491  0.001325

[3721 rows x 3 columns]
ACGL
0.0008062777110604098
           date       RET       Std
0    2000-05-09       NaN       NaN
1    2000-05-10       NaN       NaN
2    2000-05-11       NaN       NaN
3    2000-05-12       NaN       NaN
4    2000-05-15       NaN       NaN
...         ...       ...       ...
5694 2022-12-23  0.004289  0.002081
5695 2022-12-27  0.004249  0.001896
5696 2022-12-28  0.002987  0.001587
5697 2022-12-29  0.003907  0.001186
5698 2022-12-30  0.002917  0.000977

[5699 rows x 3 columns]
ACHV
-0.0011139241023177691
           date       RET       Std
0    2017-08-03       NaN       NaN
1    2017-08-04       NaN       NaN
2    2017-08-07       NaN       NaN
3    2017-08-08       NaN       NaN
4    2017-08-09       NaN       NaN
...         ...       ...       ...
1358 2022-12-23 -0.006261  0.004648
1359 2022-12-27 -0.007716  0.005756
1360 2022-12-28 -0.008001  0.006567
1361 2022-12-29 -0.005132  0.006902
1362 2022-12-30 -0.005331  0.007218

[1363 rows x 3 columns]
ACIW
-0.000366824546655458
           date       RET       Std
0    2007-07-25       NaN       NaN
1    2007-07-26       NaN       NaN
2    2007-07-27       NaN       NaN
3    2007-07-30       NaN       NaN
4    2007-07-31       NaN       NaN
...         ...       ...       ...
3883 2022-12-23  0.003526  0.003052
3884 2022-12-27  0.003614  0.003158
3885 2022-12-28  0.002694  0.003128
3886 2022-12-29  0.005877  0.003207
3887 2022-12-30  0.005736  0.003115

[3888 rows x 3 columns]
ACL
nan
          date       RET       Std
0   2000-01-03       NaN       NaN
1   2000-01-04       NaN       NaN
2   2000-01-05       NaN       NaN
3   2000-01-06       NaN       NaN
4   2000-01-07       NaN       NaN
..         ...       ...       ...
308 2001-03-23 -0.002490  0.001581
309 2001-03-26 -0.002551  0.001594
310 2001-03-27 -0.003259  0.001632
311 2001-03-28 -0.003314  0.001673
312 2001-03-29 -0.003519  0.001716

[313 rows x 3 columns]
ACP
nan
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
1932 2007-09-11  0.006562  0.004087
1933 2007-09-12  0.002192  0.004123
1934 2007-09-13  0.000301  0.004458
1935 2007-09-14  0.000770  0.004693
1936 2007-09-17  0.000830  0.004987

[1937 rows x 3 columns]
ACTY
nan
          date       RET       Std
0   2003-01-24       NaN       NaN
1   2003-01-27       NaN       NaN
2   2003-01-28       NaN       NaN
3   2003-01-29       NaN       NaN
4   2003-01-30       NaN       NaN
..         ...       ...       ...
540 2005-03-17  0.015524  0.005673
541 2005-03-18  0.011542  0.005673
542 2005-03-21  0.013400  0.005355
543 2005-03-22  0.011637  0.005220
544 2005-03-23  0.012130  0.004761

[545 rows x 3 columns]
ACXM
nan
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
4712 2018-09-25  0.005278  0.001151
4713 2018-09-26  0.003639  0.001053
4714 2018-09-27  0.003330  0.001044
4715 2018-09-28  0.004095  0.001046
4716 2018-10-01  0.002928  0.001078

[4717 rows x 3 columns]
ACY
0.012426816328175343
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5589 2022-03-21 -0.022213  0.006070
5590 2022-03-22 -0.021496  0.005824
5591 2022-03-23 -0.016581  0.005562
5592 2022-03-24 -0.020148  0.005017
5593 2022-03-25 -0.022271  0.004893

[5594 rows x 3 columns]
ADBE
0.0004259351507145435
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5782 2022-12-23  0.001241  0.002474
5783 2022-12-27  0.000117  0.002529
5784 2022-12-28 -0.000600  0.002614
5785 2022-12-29  0.001406  0.002619
5786 2022-12-30  0.001567  0.002620

[5787 rows x 3 columns]
ADC
0.0003793999639726179
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5782 2022-12-23  0.000746  0.000887
5783 2022-12-27  0.000780  0.000817
5784 2022-12-28  0.000198  0.000816
5785 2022-12-29  0.002275  0.000834
5786 2022-12-30  0.001417  0.000834

[5787 rows x 3 columns]
ADI
0.0008550253392578346
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5783 2022-12-23 -0.000894  0.003141
5784 2022-12-27 -0.001557  0.003392
5785 2022-12-28 -0.001528  0.003615
5786 2022-12-29  0.000359  0.003652
5787 2022-12-30  0.000406  0.003650

[5788 rows x 3 columns]
ADM
0.0012670481565990098
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5782 2022-12-23 -0.001302  0.001742
5783 2022-12-27 -0.000268  0.001459
5784 2022-12-28 -0.001644  0.001206
5785 2022-12-29 -0.001350  0.001101
5786 2022-12-30 -0.001577  0.000991

[5787 rows x 3 columns]
ADP
0.0008220061246547384
           date       RET       Std
0    2000-12-01       NaN       NaN
1    2000-12-04       NaN       NaN
2    2000-12-05       NaN       NaN
3    2000-12-06       NaN       NaN
4    2000-12-07       NaN       NaN
...         ...       ...       ...
5550 2022-12-23 -0.003429  0.002899
5551 2022-12-27 -0.003518  0.003088
5552 2022-12-28 -0.004355  0.003283
5553 2022-12-29 -0.002858  0.003336
5554 2022-12-30 -0.002967  0.003370

[5555 rows x 3 columns]
ADSK
0.00048708568512068724
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5782 2022-12-23 -0.004489  0.002860
5783 2022-12-27 -0.002366  0.002846
5784 2022-12-28 -0.004265  0.002865
5785 2022-12-29 -0.001508  0.002874
5786 2022-12-30 -0.001771  0.002880

[5787 rows x 3 columns]
ADTN
0.0016078659180977556
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5783 2022-12-23 -0.003175  0.003248
5784 2022-12-27 -0.003556  0.003047
5785 2022-12-28 -0.004357  0.003084
5786 2022-12-29 -0.001422  0.003019
5787 2022-12-30 -0.001189  0.002926

[5788 rows x 3 columns]
AEE
0.0004982807733877788
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5782 2022-12-23  0.001558  0.001217
5783 2022-12-27  0.001465  0.001176
5784 2022-12-28  0.000666  0.001223
5785 2022-12-29  0.001432  0.001213
5786 2022-12-30  0.001243  0.001243

[5787 rows x 3 columns]
AEF
-8.335002398656925e-05
           date       RET       Std
0    2018-04-30       NaN       NaN
1    2018-05-01       NaN       NaN
2    2018-05-02       NaN       NaN
3    2018-05-03       NaN       NaN
4    2018-05-04       NaN       NaN
...         ...       ...       ...
1176 2022-12-23  0.001319  0.002734
1177 2022-12-27  0.001851  0.002747
1178 2022-12-28  0.001063  0.002793
1179 2022-12-29  0.002673  0.002772
1180 2022-12-30  0.002310  0.002727

[1181 rows x 3 columns]
AEG
0.0007393824906929267
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5782 2022-12-23  0.002660  0.001457
5783 2022-12-27  0.002847  0.001253
5784 2022-12-28  0.001399  0.001133
5785 2022-12-29  0.003148  0.001025
5786 2022-12-30  0.001747  0.001022

[5787 rows x 3 columns]
AEHR
0.005496300468355955
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5782 2022-12-23 -0.008173  0.007490
5783 2022-12-27 -0.011147  0.008251
5784 2022-12-28 -0.012503  0.008902
5785 2022-12-29 -0.009275  0.009213
5786 2022-12-30 -0.010548  0.009375

[5787 rows x 3 columns]
AEIS
0.0009431119250630451
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5782 2022-12-23 -0.003477  0.004253
5783 2022-12-27 -0.003897  0.004276
5784 2022-12-28 -0.004024  0.004331
5785 2022-12-29 -0.001262  0.004248
5786 2022-12-30 -0.001102  0.004145

[5787 rows x 3 columns]
AEM
0.0002711974300468361
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
5782 2022-12-23  0.003701  0.002285
5783 2022-12-27  0.003867  0.002284
5784 2022-12-28  0.002530  0.002362
5785 2022-12-29  0.003956  0.002367
5786 2022-12-30  0.002437  0.002462

[5787 rows x 3 columns]
AEO
0.0008736445298426821
           date       RET       Std
0    2007-03-08       NaN       NaN
1    2007-03-09       NaN       NaN
2    2007-03-12       NaN       NaN
3    2007-03-13       NaN       NaN
4    2007-03-14       NaN       NaN
...         ...       ...       ...
3981 2022-12-23 -0.002130  0.005998
3982 2022-12-27 -0.004989  0.006996
3983 2022-12-28 -0.005344  0.007805
3984 2022-12-29 -0.005341  0.008409
3985 2022-12-30 -0.005122  0.008858

[3986 rows x 3 columns]
AEOS
nan
           date       RET       Std
0    2000-01-03       NaN       NaN
1    2000-01-04       NaN       NaN
2    2000-01-05       NaN       NaN
3    2000-01-06       NaN       NaN
4    2000-01-07       NaN       NaN
...         ...       ...       ...
1799 2007-03-01 -0.001324  0.001768
1800 2007-03-02 -0.002272  0.001686
1801 2007-03-05 -0.005064  0.001735
1802 2007-03-06 -0.004226  0.001542